<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

@{ 
    var currentPage = ViewContext.RouteData.Values["action"].ToString();
}
    <div class="menu-container">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-3">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="logo-container">
                            <span class="logo-text school">School</span>
                            <span class="logo-text portal">Portal</span>
                        </div>

                    </div>

                </div>
                <div class="col-md-8 col-sm-9">
                    <div class="navbar-collapse collapse">
                        <nav class="nav-menu">
                            <ul class="">
                                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class= currentPage == "Index" ? "active" : "none" })</li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Pages</a></li>
                                <li><a href="">Gallery</a></li>
                                <li><a href="">Contact</a></li>
                                <li>@Html.ActionLink("Login", "Login", "Account", null, new { @class = currentPage == "Login" ? "active" : "none" })</li>
                            </ul>
                        </nav>
                    </div>
                </div>
             
            </div>
        </div>
    </div>


    @* <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("About Us", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div> *@

        @RenderBody()
        <hr />
        <footer></footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>
