<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> SchoolPortal - @ViewBag.Title</title>
    <link href="~/Content/Portal.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="menu-container">
        <div class="logo-container">
            <span class="logo-text school">School</span>
            <span class="logo-text portal">Portal</span>
        </div>

        <nav class="side-nav">
            <ul id="navigationBar">
                <li>@Html.ActionLink("Courses", "Index", "Courses")</li>
                <li>@Html.ActionLink("Subjects", "Index", "Subjects")</li>
            </ul>
        </nav>
    </div>

    <div class="container-fluid body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
